---
import ComponentWrapper from '../components/ComponentWrapper.astro';
import { CurrencyInput } from '../components/CurrencyInput';
import { DynamicCardDemo } from '../components/DynamicCard/Demo';
import Sidebar from '../components/Sidebar.astro';
import { SteppedCard } from '../components/SteppedCard';
import { Toolbar } from '../components/Toolbar';
import { VoiceWave } from '../components/VoiceWave';
import Layout from '../layouts/Layout.astro';
export const prerender = false;
---


<Layout title="Welcome to Astro.">
	<main class="flex flex-col xl:flex-row items-start justify-between min-h-screen max-w-2xl mx-auto">

		<section class={"@container w-full"}>
			<div class="flex flex-col w-full gap-4 items-start justify-start flex-grow @4xl:flex-row">
				<div class="flex flex-col gap-4">
					<ComponentWrapper title="Voice Wave" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien." technologies={["React", "TypeScript", "Tailwind CSS"]}>
						<div class="w-full min-h-24 flex items-center justify-center">
							<VoiceWave client:visible />
						</div>
					</ComponentWrapper>
					<!-- <ComponentWrapper title="Currency Input" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien." technologies={["React", "TypeScript", "Tailwind CSS"]}>
						<div class="w-full min-h-24 flex items-center justify-center">
							<CurrencyInput client:visible />
						</div>
					</ComponentWrapper> -->
					<ComponentWrapper title="Stepped Card" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien." technologies={["React", "TypeScript", "Tailwind CSS"]}>
						<div class="relative w-full min-h-128 flex items-center justify-center">
							<SteppedCard client:visible />
						</div>
					</ComponentWrapper>
				</div>
				<div class="flex flex-col gap-4">
					<ComponentWrapper title="Toolbar" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien." technologies={["React", "TypeScript", "Tailwind CSS"]}>
						<div class="relative w-full min-h-96 flex items-center justify-center">
							<Toolbar client:visible />
						</div>
					</ComponentWrapper>
					<ComponentWrapper title="Dynamic Card" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien. Sed ut purus eget sapien. Sed ut purus eget sapien." technologies={["React", "TypeScript", "Tailwind CSS"]}>
						<div class="relative w-full min-h-96 flex items-center justify-center">
							<DynamicCardDemo client:visible />
						</div>
					</ComponentWrapper>
				</div>
			</div>
		</section>
	</main>
</Layout>

