---
import { ContactButton } from '../components/ContactButton';
import { SpotifyCard } from '../components/SpotifyCard';
import Layout from '../layouts/Layout.astro';
import { getSpotifyData } from '../lib/spotify';

const spotifyData = await getSpotifyData();
---


<Layout title="Welcome to Astro.">
	<main class="max-w-2xl mx-auto">
		<section class={"@container w-full"}>
			<div class=''>
				<div class="flex flex-col gap-4">
					<h1 class="font-serif font-light text-4xl tracking-tight">Joe Fairburn</h1>
					<p class="font-light text-base text-neutral-400">
					I'm a frontend engineer at <a href="https://uppbeat.io" target="_blank" class="text-uppbeat font-medium underline hover:font-bold transition-[font-weight] duration-500 will-change-[font-weight]">Uppbeat</a>.</p>
					<p class="font-light text-base text-neutral-400 text-wrap max-w-prose">
						<!-- I like creating experiences that users love. -->
					</p>
					<div class="ml-auto">
						<ContactButton client:visible />
					</div>
				</div>
			</div>
			<SpotifyCard client:visible spotifyData={spotifyData} />
		</section>
	</main>
</Layout>

