---
import { CurrencyInput } from '../components/CurrencyInput';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center min-h-screen">
		<h1>Joe Fairburn</h1>
		<p>
			Frontend Engineer
		</p>

		<CurrencyInput client:visible />
	</main>
</Layout>

