@import 'tailwindcss';

@theme {
  --color-uppbeat: #f23d75;
}
@font-face {
  font-family: 'Tobias';
  src: url('/fonts/tobias/Tobias-Uprights.woff2') format('woff2');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Tobias';
  src: url('/fonts/tobias/Tobias-Italics.woff2') format('woff2');
  font-style: italic;
  font-display: block;
}
* {
  cursor: none !important;
}

@theme {
  --font-display: 'Tobias', 'serif';
  --font-body: 'Inter', 'sans-serif';
}
