---
interface Props {
  title: string;
  description: string;
  technologies: string[];
}

const { title, description, technologies } = Astro.props;
---

<div class="bg-neutral-900 rounded-2xl overflow-hidden w-full xl:w-[45%]">
	<div class="flex flex-col gap-2 p-4">
		<div class="flex flex-row justify-between flex-wrap gap-2">
			<h2 class="font-medium text-base">{title}</h2>
			<ul class="flex flex-row gap-2">
				{technologies.map((tech) => (
					<li class="font-light text-xs bg-neutral-800 text-neutral-400 rounded-full px-2 py-1">{tech}</li>
				))}
			</ul>
		</div>

		<p class="font-light text-sm text-neutral-400">{description}</p>
	</div>

  <div class="flex flex-row justify-center items-center bg-neutral-800 rounded-none mt-4 p-4">
    <slot />
  </div>
</div>