---
import { Send } from 'lucide-astro'
import { ContactButton } from './ContactButton'
interface Props {
  padding: string;
}

const { padding } = Astro.props;
---

<aside class:list={["relative xl:sticky xl:h-screen top-0 flex flex-col gap-4 justify-between max-w-xl", padding]}>
	<div class="flex flex-col gap-4">
		<h1 class="font-serif font-light text-4xl">Joe Fairburn</h1>
		<p class="font-light text-base text-neutral-400">
		I'm a frontend engineer at <a href="https://uppbeat.io" target="_blank" class="text-uppbeat font-medium underline hover:font-bold transition-[font-weight] duration-500 will-change-[font-weight]">Uppbeat</a>.</p>
		<p class="font-light text-base text-neutral-400 text-wrap">I'm passionate about UI, motion, and performance.</p>
	</div>
	<div>
		<ContactButton client:visible />
	</div>

</aside>